In [3]:
import pandas

In [4]:
# 엑셀 데이터 가져오기
df=pandas.read_excel('test2.xlsx')
df

    이름   학급  국어점수  영어점수  평균   취미
0  김자바  자바반    90    70  80   독서
1  이자바  자바반    80    80  80  NaN
2  박자바  자바반    70    70  75  NaN
3  최자바  캐드반   100    80  85   요가
4  정자바  캐드반    90    90  90   축구

In [ ]:
# df자료의 기본적인 통계 데이터 보기 
df.describe()

In [4]:
# 처음 다섯개의 데이터만 조회
# head 함수에 매개변수가 없으면 기본적으로 5개 조회, 매개변수값을 넣으면 그 수만큼 조회
df.head(3)

    이름   학급  국어점수  영어점수  평균   취미
0  김자바  자바반    90    70  80   독서
1  이자바  자바반    80    80  80  NaN
2  박자바  자바반    70    70  75  NaN

In [5]:
# 특정 컬럼에 대한 통계데이터 조회

# 국어점수의 최소값
df['국어점수'].min()
df['국어점수'].max()
# 평균
df['국어점수'].mean()
df['국어점수'].sum()
df['국어점수'].count()

np.int64(5)