In [ ]:
# pandas 에서 특정 행과 열 데이터를 조회하는 방법
# iloc 사용: 행과 열을 순번으로 결정
# loc 사용: 이름으로 데이터선택

In [9]:
import pandas

data={
  '이름':['김자바', '이자바', '박자바', '최자바', '정자바'],
  '학급':['자바반', '자바반', '자바반', '캐드반', '캐드반'],
  '국어점수':[90,80,70,100,90],
  '영어점수':[70,80,70,80,90],
  '평균':[80.0,80.0,75.0,85.0,90.0],
  '취미':['독서', '', '', '요가', '축구']
}

df=pandas.DataFrame(data, index=['1번', '2번', '3번', '4번', '5번'])
df.index.name='학번'
df

     이름   학급  국어점수  영어점수    평균  취미
학번
1번  김자바  자바반    90    70  80.0  독서
2번  이자바  자바반    80    80  80.0
3번  박자바  자바반    70    70  75.0
4번  최자바  캐드반   100    80  85.0  요가
5번  정자바  캐드반    90    90  90.0  축구

In [15]:
# index 가 1번인 학생의 국어 점수 
# df.loc[조회할 행, 조회할 컬럼]
df.loc['1번', '국어점수']

# 인덱스가 1번 과 2번인 학생의 국어 점수 
df.loc[['1번', '2번'], '국어점수']

학번
1번    90
2번    80
Name: 국어점수, dtype: int64

In [12]:
#  1번 학생의 국어와 영어점수 
df.loc[['1번', '2번'], ['국어점수', '영어점수']]

    국어점수  영어점수
학번
1번    90    70
2번    80    80

In [8]:
import numpy
print(numpy.__version__)

2.1.0

In [ ]:
# 학번 1~4번 학생의 학급, 국어점수, 영어점수, 평균 조회
df.loc['1번':'4번', '학급':'평균']

In [18]:
# 인덱스가 1번인 학생의국어점수
int(df.iloc[0,3])
# 인덱스가 1번과 2번인 학생의 국어점수
df.iloc[[0,1],2]
# 인덱스가 1번과 2번인 학생의 국어점수, 영어점수 조회
df.iloc[[0,1],[2,3]]

    국어점수  영어점수
학번
1번    90    70
2번    80    80

In [21]:
# 학번이 1,2,3 번인 학생의 국어 영어 평균 조회
df.iloc[0:3,2:5]

    국어점수  영어점수    평균
학번
1번    90    70  80.0
2번    80    80  80.0
3번    70    70  75.0